body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: bisque;
    color: #3d2b1f;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: saddlebrown;
    padding: 15px 30px;
}
.logo{
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color: #f0d6d6;
}
.hero {
    text-align: center;
    padding: 60px 20px;
}
footer{
    background-color: #3d2b1f;
    color: white;
    text-align: center;
    padding: 15px;
    
}
.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}
.menu-card img {
    width: 100%;
    border-radius: 10px;
}
.menu-card p {
    color: #3d2b1f;
    font-weight: bold;
}